.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: #e7e6e6;
    // background-image: url('https://i.pinimg.com/564x/72/61/7c/72617cbee74e1619c1f0d22e2bf26390.jpg');
}